 /* Bordered form */
form {
    border: 3px solid #f1f1f1;
    width: 30%;
    text-align: center;
    margin-left: 65%;
    background-color: lightblue;

    
    
}


/* Full-width inputs */
input[type=text], input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing:content-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}



/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 20%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
    width: 100%
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}



body{
  background: url(../img/ensisa.jpg);
  background-size: 100%;
  
} 

