


header,
footer {
    width: 100%;
}
* {

    margin: 0;

    padding: 0;

    font-family: Helvetica, Arial;

}

#wrap{
  padding-bottom: 165PX
}



footer {
    color: white;
    text-align: center;
    height: 50px;
    /* hauteur : 50px */
     bottom: 0;
    /* position fixe à 0px du bas de la page */
}

header,
footer {
    width: 100%;
}
* {
    /* sélection * : sélectionne tous les éléments */
    margin: 0;
    /* marges externes nulles à tous les éléments */
    padding: 0;
    /* marges internes nulles à tous les éléments */
    font-family: Helvetica, Arial;
    /* choix de la police de caractères (la seconde est une police de remplacement) */
}




header {
    background-color: lightgreen;
}


nav {
 
box-shadow:	
		0pt 2px 5px rgba(105, 108, 109,  0.7),	
		0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
  
   font-weight: bold;
}

body{
  background:url(img/ensisa.jpg);
  background-size:100%;
}
.navbar-default {
	background-color:white;
}
.jumbotron{
  background-color: white;
}
#footer{
  text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.panel{
  background-color:whitesmoke; 
}

.panel-heading{
  padding-bottom: 20;
}


.btn{
  background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.panel-body{
    padding-bottom: 0
}

.panel-heading{
  padding-bottom: 17px
}

.navbar-left.btn{
  margin-right:30px;
  margin-top: 12px;
}
